Vagrant.configure("2") do |config|
  config.vm.box = "cryptoluks/windows"
  config.vm.synced_folder ".", "/vagrant"
  config.vm.provider "virtualbox" do |vb|
    vb.customize ["modifyvm", :id, "--audio", "pulse", "--audiocontroller", "hda"]
    vb.customize ["modifyvm", :id, "--audioin", "on"]
    vb.customize ["modifyvm", :id, "--audioout", "on"]
  end
end
